mixin possibilities(modifier)
  .possibilities 
    .container.possibilities__container
        h2.possibilities__title Здесь можно оплатить
        ul.possibilities__list 
            li.possibilities__item 
                a(href='#').possibilities__link Штрафы ГИБДД
            li.possibilities__item 
                a(href='#').possibilities__link Судебные задолженности
            li.possibilities__item 
                a(href='#').possibilities__link Налоги
            li.possibilities__item 
                a(href='#').possibilities__link Услуги Росреестра
            li.possibilities__item 
                span.possibilities__another и другие услуги