include ../blocks/header/header.pug
include ../blocks/search/search.pug
include ../blocks/possibilities/possibilities.pug
include ../blocks/options/options.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../blocks/menu/menu.pug
include ../blocks/support/support.pug
