mixin footer(modifier)
  footer.footer
    .footer__text
      span.footer__copyright © 2012 – 2020 
      span.footer__name ООО «Название компании»
    img(src='./img/footer-logo.png' width='79' height='52' alt='Логотип Comode secure').footer__logo